.form_type_popup {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 9px 0;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, sans-serif;
  background: transparent;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.form__input_invalid {
  border-bottom: 1px solid #ff0000;
}

.form__input-error {
  color: #ff0000;
  font-size: 12px;
  line-height: 14.52px;
  font-family: 'Inter', Arial, sans-serif;
  min-height: 14.52px;
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
}

.form__preview-container {
  margin: 20px 0;
}

.form__image-preview {
  max-width: 100%;
  max-height: 200px;
  display: none;
}

@media screen and (max-width: 880px) {
  .form__input {
    font-size: 12px;
    line-height: 14.52px;
  }

  .form__input-error {
    font-size: 10px;
    line-height: 12px;
  }
}